/*media width stylling*/

@media only screen and (min-width: 390px) {
    .nav-toggle-lable span,
   .nav-toggle-lable::before,
   .nav-toggle-lable::after {
    display: block;
    background-color: white;
    height: 3px;
    width: 36px;
    border-radius: 1px;
    left: -170px;
    bottom: 10px;
    
}

.nav-toggle-lable::before {
    bottom: 20px;
    left: -170px;

}

.nav-toggle-lable::after {
    top: -3px;
    left: -170px;
}

.logo{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 15px;
    font-family: space-grotesk,sans-serif;
    text-decoration: none;
    margin: 0;
    color: white;
    z-index: 1000;
}
.s {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 15px;
    font-family: space-grotesk,sans-serif;
    text-decoration: none;
    color: white;
    z-index: 9999;
}
.m {
    position: absolute;
    top: 55px;
    left: 15px;
    font-size: 15px;
    font-family: space-grotesk,sans-serif;
    text-decoration: none;
    color: white;
    z-index: 9999;
}

a span {
  position: relative;
  left: 5px;
}


/*styled the index page*/
      div img.museum-vis {
        width: 100%;
        height: 388px;
        object-fit: cover;
        object-position: 0px -200px;
        position: absolute;
        top: 88px;
        left: 0px;
      }

      span.border {
        position: absolute;
        top: 456px;
      }

      div p.span-text {
        font-size: 18px;
        width: 100%;
        position: absolute;
        top: 450px;
        left: 20px;
      }

      button {
        width: 192px;
        height: 37px;
        padding: 10px;
        position: absolute;
        top: 560px;
        left: 100px;
    }

    button span {
        font-size: 18px;
        position: absolute;
        top: 5px;
        left: 40px;
    }

      div h1.nav-link1 {
        width: 60%;
        font-size: 30px;
        font-weight: 500;
        position: absolute;
        top: 110px;
        left: 100px;
    }

    h2 {
        width: 60%;
        font-size: 28px;
        position: absolute;
        top: 700px;
        left: 100px;
    }

    div.grid-cloum {
        position: absolute;
        top: 800px;
        left: 15px;
    }

    div.flow-5 {
        left: 100px;
    }


h4 a {
    all: unset;
    font-size: 18px;
    font-weight: normal;
   text-align: center;
   
}


div img.grid {
    width: 175px;
    height: 127px;
    position: flex;
    left: -10px;
   
}

    h2.top {
        width: 100%;
        font-size: 28px;
        position: absolute;
        top: 1600px;
        left: 10px;
    }
    
    h2.under {
        font-size: 24px;
        top: 1650px;
        left: 10px;
   
    }

    div.grid-news {
      
        position: absolute;
        top: 1720px;
        left: 0px;
    }

    img {
        width: 362px;
        height: 166px;
        position: relative;
        left: -10px;
     }
    
     h3.head-title {
        font-size: 22px;
        font-weight: 500;
        position: flex;
        line-height: normal;
        margin-top: 10px;
        margin-left: 20px;
        
    }

    
    p.info {
       font-size: 16px;
       width: 100%;
       position: absolute;
       left: 20px;
       margin-top: -17px;
    }

    img.sheila{
        object-position: 30px -20px;
    }

    img.museum {
       object-position: 30px -260px;
    }

/*the head top style*/

h1.museum-head {
    font-size: 40px;
    position: relative;
    top: -50px;
    left: 0px;
}

img.head-pic {
    width: 362px;
    height: 160px;
    position: relative;
    left: 15px;
    top: -70px;
    
}
span.span-head {
    height: 415px;
    top: 0px;
}

p.paragrah-head {
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    position: relative;
    left: -20px;
    top: -70px;
}

/*explore style*/

div.explore-grid {
    gap: 200px;
    position: absolute;
    top: 500px;
    left: -80px;
}

img.explore-club {
    border-radius: 50%;
    width: 236px;
    height: 236px;
    z-index: 909;
    position: relative;
    left: 100px;
}

span.span-img {
    background-color: #254D4C;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    position: absolute;
    top: -10px;
    left: 90px;
}

div img.explore-img {
    object-fit: cover;
    object-position: 0px 0px ;
    width: 236px;
    height: 236px;
    border-radius: 50%;
    position: relative;
    left: 100px;
    z-index: 909;
}

p.paragrah-section {
    font-size: 18px;
    width: 125%;
    position: absolute;
    margin: 0;
    left: 100px;
    top: 260px;
}

img.teacher-img {
    width: 362px;
   height: 160px;
   left: -70px;
    
}


p.teacher-par1 {
    width: 70%;
    position: relative;
    left: 50px;
    top: -150px;
    font-size: 18px;
}

p.teacher-par2 {
    width: 70%;
    font-size: 18px;
    position: absolute;
    left: 50px;
    top: 260px;
}

img.reseacher-img {
    width: 362px;
    height: 160px;
    left: 20px;
    top: -50px;
}

p.re-par {
    width: 80%;
    position: absolute;
    left: 50px;
    top: 690px;
    
}


div.bottom-grid {
    position: relative;
    gap: 100px;
    top: 2200px;

}

footer.footer-pos {
    position: relative;
    top: -250px;
}

/*style of Exhibition page*/

div.exhibtion-grid {
    position: absolute;
    top: 600px;
    left: 50px;
}

img.exhi-img {
    width: 362px;
    height: 160px;
    left: -40px;
}

img.exhi-imgt {
    width: 362px;
    height: 160px;
    left: -40px;
}

img.exhi-imge {
    width: 362px;
    height: 160px;
    left: -40px;
}


h3.exhi-title {
    top: 20px;
    left: -50px;
}

p.exhi-par1 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -10px;
    left: -30px;
    width: 90%;
}
p.exhi-par2 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -10px;
    left: -30px;
    width: 90%;
}
p.exhi-par3 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -20px;
    left: -30px;
    width: 90%;
}

footer.footer-pos1 {
    position: relative;
    top: 180px;
}

/*The styling of about us page*/

div.about-grid {
    position: absolute;
    left: 65px;
}

img.about-img {
    width: 362px;
    height: 166px;
    object-fit: cover;
    object-position: 0px -300px;
    position: relative;
    left: -50px;
}

img.about-img1 {
    width: 362px;
    height: 166px;
    object-fit: cover;
    object-position: 0px -40px;
    position: relative;
    left: -50px;
}
footer.footer-pos2 {
    top: -1650px;
}

/*The styling the get involved page*/

img.head-pic1 {
    width: 362px;
    height: 160px;
    position: relative;
    left: 15px;
    top: -70px;
}

img.about-imgs {
    width: 362px;
    height: 160px;
    position: relative;
    left: -50px;
    object-fit: cover;
}

div.involved-grid {
    position: absolute;
    top: 700px;
    left: 70px;
}
 
footer.footer-pos4 {
    top: -800px;
}

/*The styling of visit page*/

div.visit-grid {
    top: 500px;
    left: 50px;
}

h3.visit-title {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: -10px;
    left: -10px;
}

p.visit-par {
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    position: relative;
    top: -30px;
   
}
p.visit-par1 {
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    position: relative;
    top: -40px;
    
  
}
p.visit-par2 {
    font-size: 18px;
    font-weight: 400;
    display: grid;
    width: 70%;
    position: relative;
    top: -30px;
}


footer.footer-pos3{
    top: -1700px;
}

/* style footer */
    footer div.csm-footer {
        position: relative;
        top: 2750px;
    }
    
    div.foot-grid {
        all: unset;
        width: 30%;
        font-size: 16px;
        position: absolute;
        left: 240px;
        top: 20px;
        color: rgba(186, 186, 186, 1);
    }

    h1.footer-title {
        font-size: 18px;
        color: white;
        position: absolute;
        margin-top: 20px;
        margin-left: 10px;
    }
    
     div.grid-adress{
       position: absolute;
       margin-top: 60px;
       color: white;
       
    }
    
    h3 {
      font-size: 16px;
      font-weight: normal;
      margin-left: 10px;
      margin-top: -15px;
    }
    
    ul.foot-info {
        color: white;
        list-style: none;
        position: absolute;
        top: -115px;
        left: -45px;
    }
    
    li {
        font-size: 16px;
        font-weight: 300;
        margin-top: -5px;
    }
    ul.foot-follow {
       list-style: none;
       color: #ffff;
       position: absolute;
       left: -45px;
       top: -22px;
    }
   
    
    h4.foot-sos {
        position: absolute;
        top: 145px;
        left: 10px;
        color: #ffff;
    }

}


@media screen and (min-width: 850px) {
/*header for the desktop*/

.nav-toggle-lable span,
.nav-toggle-lable::before,
.nav-toggle-lable::after {
    display: block;
    background-color: white;
    height: 3px;
    width: 36px;
    border-radius: 1px;
    left: 250px;
    
}

.nav-toggle-lable::before {
    bottom: 12px;
    left: 250px;

}

.nav-toggle-lable::after {
    top: 5px;
    left: 250px;
}
/*styled the index page*/
      div img.museum-vis {
        width: 100%;
        height: 800px;
        object-fit: cover;
        object-position: 0px -200px;
        position: absolute;
        top: 100px;
        left: 0px;
      }

      span.border {
        top: 900px;
      }

      div p.span-text {
        width: 45%;
        position: relative;
        top: 840px;
        left: 220px;
      }

      button {
        width: 192px;
        height: 37px;
        padding: 10px;
        position: relative;
        top: 700px;
        left: 280px;
    }

    button span {
        font-size: 22px;
        position: relative;
        top: -5px;
        left: 40px;
    }

      div h1.nav-link1 {
        font-size: 60px;
        font-weight: 500;
        position: absolute;
        top: 300px;
        left: 250px;
    }

    h2 {
        width: 60%;
        font-size: 48px;
        position: absolute;
        top: 1100px;
        left: 230px;
    }

    h4 a {
      font-size: 32px;  
    }

    div.grid-cloum {
        position: absolute;
        top: 1260px;
        left: 60px;
       
    }

    h2.top {
        width: 80%;
        font-size: 48px;
        position: absolute;
        top: 2200px;
        left: 100px;
    }
    
    h2.under {
        top: 2300px;
        left: 100px;
   
    }

    div.grid-news {
        position: absolute;
        top: 2400px;
        left: 100px;
    }

/*the head top style*/

h1.museum-head {
   
    margin-top: 10px;
}

img.head-pic {
    
    position: relative;
    left: 180px;
}

p.paragrah-head {
   
    font-weight: 400;
    width: 60%;
    position: relative;
    left: 150px;
}

/*explore style*/

div.explore-section {
    position: relative;
    top: 100px;
    left: 200px;
}

img.teacher-img {
   left: 150px;
    
}


p.teacher-par1 {
    width: 60%;
    position: relative;
    left: 160px;
    top: -150px;
    font-size: 18px;
}

p.teacher-par2 {
    width: 60%;
    font-size: 18px;
    position: absolute;
    left: 160px;
    top: 220px;
}

img.reseacher-img {
   left: 150px;
}

p.re-par {
    width: 60%;
    position: relative;
    left: 155px;
    top: -60px;
    
}


div.bottom-grid {
    position: relative;
    top: 2650px;

}

footer.footer-pos {
    position: relative;
    top: -1050px;
}

/*style of Exhibition page*/

div.exhibtion-grid {
    position: absolute;
    top: 700px;
    left: 100px;
}


h3.exhi-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20px;
    left: -100px;
}

p.exhi-par1 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -10px;
    left: 30px;
    width: 60%;
}
p.exhi-par2 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -20px;
    left: 30px;
    width: 60%;
}
p.exhi-par3 {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: -20px;
    left: 30px;
    width: 60%;
}

footer.footer-pos1 {
    position: relative;
    top: -550px;
}

/*The styling of about us page*/

div.about-grid {
    position: absolute;
    left: 100px;
}

footer.footer-pos2 {
    top: -2600px;
}

/*The styling the get involved page*/

img.head-pic1 {
    width: 550px;
    height: 200px;
    position: relative;
    left: 200px;
}

div.involved-grid {
    position: absolute;
    top: 700px;
    left: 150px;
}
 
footer.footer-pos4 {
    top: -1650px;
}

/*The styling of visit page*/

div.visit-grid {
    top: 800px;
    left: 100px;
}

p.visit-par {
    width: 60%;
}


footer.footer-pos3{
    top: -2600px;
}

/* style footer */
    footer div.csm-footer {
        position: relative;
        top: 3750px;
    }

   
}
@media screen and (min-width: 1050px) {
/*header for the desktop*/
    label.nav-toggle-lable {
        display: none;
    }

    nav a:hover {
        color: rgb(110, 106, 106);
    }

    header nav {
        all: unset;
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav a {
        opacity: 1;
        color: #fff;
        font-size: 20px;
        position: relative;
      }
      header nav li {
        position: relative;
        left: -100px;
        top: 0px;
      }
      header nav ul {
        display: flex;
        position: relative;
        gap: 50px;
        z-index: 9999;
      }
      nav h6 {
        display: none;
      }
/*styled the index page*/
      div img.museum-vis {
        height: 500px;
        object-position: 0px -600px;
      }

      span.border {
        width: 720px;
        height: 200px;
        position: absolute;
        top: 650px;
        left: 150px;
      }

      div p.span-text {
        font-size: 22px;
        width: 40%;
        position: relative;
        top: 370px;
        left: 300px;
      }

      button {
        position: relative;
        top: 380px;
        left: 320px;
        width: 260px;
        height: 50px;
    }

    button span {
        font-size: 22px;
        position: relative;
        top: 0px;
        left: 70px;
    }

      div h1.nav-link1 {
        position: relative;
        width: 50%;
        top: -60px;
        left: 270px;
    }

    h2 {
        font-size: 48px;
        position: absolute;
        top: 950px;
        left: 250px;
    }

    h4 a {
      font-size: 32px;  
    }

    div.grid-cloum {
        position: absolute;
        top: 1090px;
        left: 60px;
        grid-template-columns: 1fr 1fr  ;
        gap: 110px;
    }

    div img.grid {
        width: 350px;
        height: 200px;
    }
    
    div.flow-5 {
        position: relative;
        left: 220px;
        top: -50px;
    }
    div.flow-4 {
        position: relative;
        left: 0px;
    }

    h2.top {
        width: 60%;
        font-size: 48px;
        position: absolute;
        top: 2100px;
        left: 200px;
    }
    
    h2.under {
     position: absolute;
     top: 2180px;
     left: 200px;
     font-size: 32px;
     font-weight: normal;
    }

    img {
     width: 650px;
     height: 300px;
    }

    h3.head-title {
        font-size: 28px;
        
    }

    p.info {
        font-size: 22px;
        width: 60%;
    }

    div.grid-news {
        gap: 200px;
        position: absolute;
        top: 2300px;
        left: 200px;
    }
   

    div.flow-2 {
        position: relative;
        left: 0px;
    }

/*the head top style*/

h1.museum-head {
    font-size: 64px;
    margin-top: 10px;
}

img.head-pic {
    width: 900px;
    height: 462px;
    position: relative;
    left: 90px;
}

p.paragrah-head {
    font-size: 22px;
    font-weight: 400;
    width: 60%;
    position: relative;
    left: 150px;
}

span.span-head {
  height: 771px;
}

/*explore style*/



div.explore-grid {
    position:absolute;
    top: 900px;
    left: 150px;
    gap: 290px;
   
}

span.span-img {
   height: 600px;
   width: 600px;
   position: absolute;
   left: -120px;
}

p.paragrah-section {
    position: absolute;
    top: 620px;
    left: -30px;
    font-size: 22px;
    width: 80%;
    z-index: 999;
}

div img.explore-img {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}
div img.explore-club {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}

h3.teach-title {
    font-size: 48px;
    position: relative;
    top: -20px;
}

h3.research-title {
    font-size: 48px;
    top: 350px;
}

img.teacher-img {
    position: relative;
    top: 0px;
    left: 170px;
}

p.teacher-par1 {
    width: 50%;
    position: absolute;
    left: 290px;
    top: 300px;
    font-size: 18px;
}
p.teacher-par2 {
    width: 50%;
    font-size: 18px;
    position: absolute;
    left: 290px;
    top: 420px;
}

p.re-par {
    width: 50%;
    position: absolute;
    left: 220px;
    top: 950px;
    font-size: 18px;
}

img.reseacher-img {
    position: relative;
    top: 400px;
    left: 220px;
}

div.bottom-grid {
    position: relative;
    top: 3650px;

}

footer.footer-pos {
    position: relative;
    top: 550px;
}

/*style of Exhibition page*/

div.exhibtion-grid {
   
    position: absolute;
    top: 1000px;
    left: 200px;
}

div.exhi-1 {
    position: relative;
    left: 0px;
}

h3.exhi-title {
    font-size: 48px;
    position: relative;
    left: -130px;
}

p.exhi-par1 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}
p.exhi-par2 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}
p.exhi-par3 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}

footer.footer-pos1 {
    position: relative;
    top: -250px;
}

/*The styling of about us page*/

div.about-grid {
    position: absolute;
    left: 200px;
}

footer.footer-pos2 {
    top: -1700px;
}

/*The styling the get involved page*/

img.head-pic1 {
    width: 900px;
    height: 462px;
    position: relative;
    left: 90px;
}

div.involved-grid {
    position: absolute;
    gap: 20px;
    left: 205px;
    top: 1000px;
}

footer.footer-pos4 {
    position: relative;
    top: -800px;
}
/*The styling of visit page*/

div.visit-grid {
    top: 1000px;
    left: 100px;
}

p.visit-par {
    width: 60%;
}

p.visit-par2 {
    grid-template-columns: 1fr .7fr  ;
}

footer.footer-pos3{
    top: -2000px;
}

/* style footer */
    footer div.csm-footer {
        position: relative;
        top: 3700px;
    }

    h4.foot-sos {
        position: absolute;
        left: 420px;
        top: -10px;
        font-size: 24px;
    }

   ul.foot-follow {
        position: absolute;
        left: 355px;
        top: -155px;
    }
   ul.foot-info {
        position: relative;
        top: -60px; 
        left: -40px;
    }

    li {
        font-size: 24px;
    }

    div.grid-adress{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    h1.footer-title {
        font-size: 24px;
        position: absolute;
        top: 0px;
        left: 10px;
    }
   
    div.foot-grid {
        grid-template-columns: 1fr 1fr  ;
        position: absolute;
        left: 650px;
        top: -20px;
        color: rgba(186, 186, 186, 1);
    }

    div h5 {
        font-size: 24px;
        font-weight: 300;
    }
}
@media screen and (min-width: 1200px) {
/*header for the desktop*/
    label.nav-toggle-lable {
        display: none;
    }

    nav a:hover {
        color: rgb(110, 106, 106);
    }

    header nav {
        all: unset;
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav a {
        opacity: 1;
        color: #fff;
        font-size: 20px;
        position: relative;
      }
      header nav li {
        position: relative;
        left: -200px;
        top: 0px;
      }
      header nav ul {
        display: flex;
        position: relative;
        gap: 50px;
        z-index: 9999;
      }
      nav h6 {
        display: none;
      }
/*styled the index page*/
      div img.museum-vis {
        height: 500px;
        object-position: 0px -700px;
      }

      span.border {
        width: 720px;
        height: 200px;
        position: absolute;
        top: 650px;
        left: 250px;
      }

      div p.span-text {
        font-size: 22px;
        width: 40%;
        position: relative;
        top: 570px;
        left: 340px;
      }

      button {
        position: relative;
        top: 420px;
        left: 460px;
        width: 260px;
        height: 50px;
    }

    button span {
        font-size: 22px;
        position: absolute;
        top: 10px;
        left: 80px;
    }

      div h1.nav-link1 {
        position: absolute;
        width: 50%;
        top: 130px;
        left: 400px;
    }

    h2 {
        font-size: 48px;
        position: absolute;
        top: 950px;
        left: 350px;
    }

    h4 a {
      font-size: 32px;  
    }

    div.grid-cloum {
        position: absolute;
        top: 1090px;
        left: 150px;
        grid-template-columns: 1fr 1fr  ;
        gap: 30px;
    }

    div img.grid {
        width: 350px;
        height: 200px;
    }
    
    div.flow-5 {
        position: absolute;
        left: 190px;
        top: 600px;
    }
    div.flow-4 {
        position: absolute;
        left: 400px;
        top: 300px;
    }

    h2.top {
        width: 60%;
        font-size: 48px;
        position: absolute;
        top: 1960px;
        left: 300px;
    }
    
    h2.under {
     position: absolute;
     top: 2050px;
     left: 300px;
     font-size: 32px;
     font-weight: normal;
    }

    img {
     width: 650px;
     height: 300px;
    }

    h3.head-title {
        font-size: 28px;
        
    }

    p.info {
        font-size: 22px;
        width: 100%;
    }

    div.grid-news {
        
        gap: 110px;
        position: absolute;
        top: 2150px;
        left: 250px;
    }
   

    div.flow-2 {
        position: relative;
        left: 0px;
        top: 100px;
    }

/*the head top style*/

h1.museum-head {
    font-size: 64px;
    margin-top: 10px;
}

img.head-pic {
    width: 1000px;
    height: 462px;
    position: relative;
    left: 120px;
}

p.paragrah-head {
    font-size: 22px;
    font-weight: 400;
    width: 60%;
    position: relative;
    left: 200px;
}

span.span-head {
  height: 771px;
}

/*explore style*/

div.explore-section {
    position: relative;
    top: 300px;
    left: 250px;
}

div.explore-grid {
    gap: 290px;
   
}

span.span-img {
   height: 600px;
   width: 600px;
   position: absolute;
   left: -120px;
}

p.paragrah-section {
    position: absolute;
    top: 620px;
    left: -30px;
    font-size: 22px;
    width: 80%;
    z-index: 999;
}

div img.explore-img {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}
div img.explore-club {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}

h3.research-title {
    font-size: 48px;
    left: 0px;
    top: -10px;
}

img.teacher-img {
    position: relative;
    top: -20px;
    left: 0px;
}

p.teacher-par1 {
    width: 40%;
    position: absolute;
    left: 35px;
    top: 270px;
    font-size: 18px;
}
p.teacher-par2 {
    width: 40%;
    font-size: 18px;
    position: absolute;
    left: 35px;
    top: 390px;
}

p.re-par {
    width: 40%;
    position: absolute;
    left: 630px;
    top: 270px;
    font-size: 18px;
}

img.reseacher-img {
    position: relative;
    left: 0px;
    top: 5px;
}

div.bottom-grid {
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 3850px;

}

footer.footer-pos {
    position: relative;
    top: 650px;
}

/*style of Exhibition page*/

div.exhibtion-grid {
   grid-template-columns: 1fr 1fr  ;
    gap: 40px;
    position: absolute;
    top: 1050px;
    left: -10px;
}

div.exhi-1 {
    position: relative;
    left: 360px;
}

h3.exhi-title {
    font-size: 48px;
    position: relative;
    left: -30px;
}

p.exhi-par1 {
    font-size: 22px;
    font-weight: 400;
    left: 35px;
    width: 80%;
}
p.exhi-par2 {
    font-size: 22px;
    font-weight: 400;
    left: 35px;
    width: 80%;
}
p.exhi-par3 {
    font-size: 22px;
    font-weight: 400;
    left: 35px;
    width: 80%;
}

footer.footer-pos1 {
    position: relative;
    top: -900px;
}

/*The styling of about us page*/

div.about-grid {
    grid-template-columns: 1fr 1fr;
    left: 20px;
}

footer.footer-pos2 {
    top: -2600px;
}

/*The styling the get involved page*/

img.head-pic1 {
    width: 900px;
    height: 462px;
    position: relative;
    left: 120px;
}

div.involved-grid {
    grid-template-columns: 1fr 1fr;
    left: 15px;
}

footer.footer-pos4 {
    top: -1300px;
}
/*The styling of visit page*/

div.visit-grid {
    top: 1000px;
    left: 100px;
}

p.visit-par {
    width: 60%;
}

p.visit-par2 {
    grid-template-columns: 2fr 1fr 1fr   ;
}

footer.footer-pos3{
    top: 9500px;
}

/* style footer */
    footer div.csm-footer {
        position: relative;
        top: 3500px;
    }

    h4.foot-sos {
        position: absolute;
        left: 420px;
        top: -10px;
        font-size: 24px;
    }

   ul.foot-follow {
        position: absolute;
        left: 355px;
        top: -155px;
    }
   ul.foot-info {
        position: relative;
        top: -60px; 
        left: -42px;
    }

    li {
        font-size: 24px;
    }

    div.grid-adress{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    h1.footer-title {
        font-size: 24px;
        position: absolute;
        top: 0px;
        left: 10px;
    }
   
    div.foot-grid {
        grid-template-columns: 1fr 1fr  ;
        position: absolute;
        left: 800px;
        top: -20px;
        color: rgba(186, 186, 186, 1);
    }

    div h5 {
        font-size: 24px;
        font-weight: 300;
    }
}
@media screen and (min-width: 1400px) {
/*header for the desktop*/
    label.nav-toggle-lable {
        display: none;
    }

    nav a:hover {
        color: rgb(110, 106, 106);
    }

    header nav {
        all: unset;
        grid-column: 2/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav a {
        opacity: 1;
        color: #fff;
        font-size: 20px;
        position: relative;
      }
      header nav li {
        position: relative;
        left: -500px;
        top: 0px;
      }
      header nav ul {
        display: flex;
        position: relative;
        gap: 50px;
        z-index: 9999;
      }
      nav h6 {
        display: none;
      }
/*styled the index page*/
      div img.museum-vis {
        height: 500px;
        object-position: 0px -900px;
      }

      span.border {
        width: 720px;
        height: 200px;
        position: absolute;
        top: 650px;
        left: 350px;
      }

      div p.span-text {
        font-size: 22px;
        width: 40%;
        position: relative;
        top: 370px;
        left: 440px;
      }

      button {
        position: relative;
        top: 380px;
        left: 560px;
        width: 260px;
        height: 50px;
    }

    button span {
        font-size: 22px;
        position: relative;
        top: 0px;
        left: 60px;
    }

      div h1.nav-link1 {
        position: relative;
        width: 50%;
        top: -60px;
        left: 500px;
    }

    h2 {
        font-size: 48px;
        position: absolute;
        top: 950px;
        left: 530px;
    }

    h4 a {
      font-size: 32px;  
    }

    div.grid-cloum {
        position: absolute;
        top: 1090px;
        left: 60px;
        grid-template-columns: 1fr 1fr 1fr  ;
        gap: 110px;
    }

    div img.grid {
        width: 350px;
        height: 200px;
    }
    
    div.flow-5 {
        position: relative;
        left: 220px;
        top: -50px;
    }
    div.flow-4 {
        position: relative;
        left: 200px;
        top: -50px;
    }

    h2.top {
        width: 50%;
        font-size: 48px;
        position: absolute;
        top: 1850px;
        left: 400px;
    }
    
    h2.under {
     position: absolute;
     top: 1950px;
     left: 395px;
     font-size: 32px;
     font-weight: normal;
    }

    img {
     width: 650px;
     height: 300px;
    }

    h3.head-title {
        font-size: 28px;
        
    }

    p.info {
        position: relative;
        font-size: 22px;
        width: 84%;
    }

    div.grid-news {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 2050px;
        left: 20px;
    }
   

    div.flow-2 {
        position: relative;
        top: -100px;
        left: 400px;
    }

/*the head top style*/

h1.museum-head {
    font-size: 64px;
    margin-top: 10px;
}

img.head-pic {
    width: 1200px;
    height: 462px;
    position: relative;
    left: 100px;
}

p.paragrah-head {
    font-size: 22px;
    font-weight: 400;
    width: 50%;
    position: relative;
    left: 300px;
}

span.span-head {
  height: 771px;
}

/*explore style*/

div.explore-section {
    position: relative;
    top: 100px;
    left: 400px;
}

div.explore-grid {
    gap: 290px;
   
}

span.span-img {
   height: 600px;
   width: 600px;
   position: absolute;
   left: -120px;
}

p.paragrah-section {
    position: absolute;
    top: 620px;
    left: -70px;
    font-size: 22px;
    width: 80%;
    z-index: 999;
}

div img.explore-img {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}
div img.explore-club {
    height: 557px;
    width: 557px;
    position: relative;
    left: -100px;
    top: 10px;
}

h3.research-title {
    font-size: 48px;
}

img.teacher-img {
    position: relative;
    top: 10px;
}

p.teacher-par1 {
    width: 40%;
    position: absolute;
    left: 35px;
    top: 250px;
    font-size: 18px;
}
p.teacher-par2 {
    width: 40%;
    font-size: 18px;
    position: absolute;
    left: 35px;
    top: 370px;
}

p.re-par {
    width: 40%;
    position: absolute;
    left: 740px;
    top: 260px;
    font-size: 18px;
}

img.reseacher-img {
    position: relative;
    left: 0px;
}

div.bottom-grid {
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 3700px;

}

footer.footer-pos {
    position: relative;
    top: 1250px;
}

/*style of Exhibition page*/

div.exhibtion-grid {
   grid-template-columns: 1fr 1fr  ;
    gap: 40px;
    position: absolute;
    top: 1000px;
    left: 20px;
}

div.exhi-1 {
    position: relative;
    left: 400px;
}

h3.exhi-title {
    font-size: 48px;
    position: relative;
    left: -60px;
}

p.exhi-par1 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}
p.exhi-par2 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}
p.exhi-par3 {
    font-size: 22px;
    font-weight: 400;
    left: 10px;
    width: 80%;
}

footer.footer-pos1 {
    position: relative;
    top: -450px;
}

/*The styling of about us page*/

div.about-grid {
    grid-template-columns: 1fr 1fr;
    left: 25px;
}

footer.footer-pos2 {
    top: -1950px;
}

/*The styling the get involved page*/

img.head-pic1 {
    width: 1200px;
    height: 462px;
    position: relative;
    left: 100px;
}

div.invoveld-grid {
    grid-template-columns: 1fr 1fr;
    left: 15px;
}

/*The styling of visit page*/

div.visit-grid {
    top: 1000px;
    left: 100px;
}

p.visit-par {
    width: 60%;
}

p.visit-par2 {
    grid-template-columns: 2fr 1fr 1fr 1fr  ;
}

footer.footer-pos3{
    top: -2000px;
}

/* style footer */
    footer div.csm-footer {
        position: relative;
        top: 2800px;
    }

    h4.foot-sos {
        position: absolute;
        left: 420px;
        top: -10px;
        font-size: 24px;
    }

   ul.foot-follow {
        position: absolute;
        left: 355px;
        top: -155px;
    }
   ul.foot-info {
        position: absolute;
        top: -60px; 
        left: -42px;
    }

    li {
        font-size: 24px;
    }

    div.grid-adress{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    h1.footer-title {
        font-size: 24px;
        position: absolute;
        top: 0px;
        left: 10px;
    }
   
    div.foot-grid {
        grid-template-columns: 1fr 1fr .2fr ;
        position: absolute;
        left: 1000px;
        top: -20px;
        color: rgba(186, 186, 186, 1);
    }

    div h5 {
        font-size: 24px;
        font-weight: 300;
    }
}